html  {
} 

body {
	border:0px none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width: 960px;
	background-color:#00608a;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 18px;
	text-align:center;
	color:white;
}

h2 {
	font-size: 16px;
	font-weight:bold;
	margin-top:5px;
}

h3 {
	font-size: 14px;
	font-weight:bold;
	margin-top:5px;
}

h4 {
	font-size: 12px;
	font-weight:bold;
	margin-top:5px;
}

#header{
}

#mainbody{
}

#footer{
	margin: 50px 0px;
	text-align: center;
	font-size: 10px;
	color: #ffffff;
}

#div01 {
	background-color: #7EB5D6;
	padding: 3px 15px;
	margin: 5px;
}

#div02 {
	background-color: #DFC184;
	padding: 3px 15px;
	margin: 5px;
}

#div03 {
	background-color: #C7E1BA;
	padding: 3px 15px;
	margin: 5px;
}

#div04 {
	background-color: #F5D5BC;
	padding: 3px 15px;
	margin: 5px;
}

#errorBox {
	width: 400px;
	background-color: #CCCCCC;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	padding-top:3px;
	padding-bottom:15px;
	color:black;
}

label {
	float:left;
	width:156px;	
}

.center {
	text-align: center;
}

.emp1{
	font-size:10px;
	font-weight: bold;
	color:#0000FF
}

.emp2{
	color:#0000FF;
	font-weight: bold;
}
